/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache

#Custom - App
.env
storage/
#Custom - Default
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#Custom - Development
app/Commands/Dev/
config/app_version
.box_dump/
builds/
dev/
*.bak*
*.bak*/
