/vendor
/.idea
/.vscode
/.vagrant
.phpunit.result.cache

#Custom - App
.env

#Custom - Default
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
#Custom - Dev
dev/
*.bak*
*.bak*/
