APP_KEY=
CACHE_STORE=file
LOG_STACK=single,syslog
LOG_SINGLE_LEVEL=debug
LOG_SYSLOG_FACILITY=local7
LOG_SYSLOG_LEVEL=warning

NTRN_CONF_CACHE_STORE=file
NTRN_CONFIGS=/opt/vyatta/etc/config/user-data/ntrn/config
NTRN_VIEWS=/opt/vyatta/etc/config/user-data/ntrn/resources/views
NTRN_MIGRATIONS=/opt/vyatta/etc/config/user-data/ntrn/database/migrations
